body {
    background-image: url(FULLHD.jpg);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position:cover;
    background-size:cover;
    max-width: 100%;
    min-width: 300px;
    height: auto;

}

section {
    font-size: 20 em; text-align: center
}